/ReferenceGUI/.project
/ReferenceGUI/.pydevproject
*.*~

/.vscode
*.code-workspace
.flake8
#*.pem
*.crt
*.tss
*.key
*.pub
*.csr
*.data
*.bin
datain.txt
dataout.txt
engine_data.txt
nvm_data.txt
pcrevent_*
*.ctx
data_encryp*
mycipher
ticketfile
signature_*
__pycache__
key.*
*.dat
unseal*.*
mysig
autoconf*
Python_TrustM_GUI/bin

# Explorer generated/build artifacts
Python_TrustM_GUI/components/
Python_TrustM_GUI/working_space/
Python_TrustM_GUI/*privkey*.pem
Python_TrustM_GUI/*.pem
Python_TrustM_GUI/*.csr
Python_TrustM_GUI/*.crt
Python_TrustM_GUI/test*.pem
Python_TrustM_GUI/optiga-trust-m-openssl/
